.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 105px;
    display: flex;
    position: relative;
  }
}

.contacts__content-wrapper {
  @media (min-width: $desktop-width) {
    width: 350px;
    padding-left: 175px;
  }
}

.contacts__title-wrapper {
  width: 260px;
  margin: 0  auto;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding-bottom: 49px;
    position: relative;

    &::before {
      content: "";
      width: 46px;
      height: 81px;
      position: absolute;
      background-image: url("../img/icons/icon-flag.svg");
      background-repeat: no-repeat;
      top: -22px;
      right: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 79px;
    padding-bottom: 35px;

    &::before {
      top: 62px;
      right: auto;
      left: -111px;
    }
  }
}

.contacts__title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__list {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 31px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding-bottom: 49px;
    display: flex;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__item {
  display: flex;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 50%;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
  }
}

.contacts__label {
  width: 44px;
  padding-right: 32px;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-right: 25px;
    font-size: 17px;
  }
}

.contacts__value {
  font-size: 14px;
  line-height: 30px;
  position: relative;

  &--email {
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $mint-elements;
      position: absolute;
      left: 0;
      bottom: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;

    &--email {
      &::after {
        bottom: 0;
      }
    }
  }
}

.contacts__map-wrapper {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    padding-bottom: 0;
  }
}

.contacts__map {
  width: 100%;
  height: 455px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 457px;
  }
}

.contacts__button-wrapper {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 105px;
    left: 175px;
  }
}
