.form-block {
  width: 260px;
  margin: 0 auto;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;

    &--radio {
      padding-bottom: 25px;
    }

    &--darker {
      background-color: $basic-grey-background;
    }

    &--checkbox {
      padding-top: 50px;
      padding-bottom: 21px;
    }

    &--name {
      padding-top: 48px;
      padding-bottom: 14px;
    }

    &--contacts {
      padding-top: 48px;
      padding-bottom: 29px;
    }

    &--adding {
      padding-top: 50px;
      padding-bottom: 53px;
    }
  }

  @media (min-width: $desktop-width) {
    &--radio {
      padding-bottom: 26px;
    }

    &--checkbox {
      padding-bottom: 21px;
    }

    &--contacts {
      padding-bottom: 29px;
    }

    &--adding {
      padding-bottom: 49px;
    }
  }
}

.form-block__container {
  @media (min-width: $tablet-width) {
    width: 668px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

    &--contacts {
      display: block;
    }

    &--submit {
      justify-content: space-between;
      align-items: baseline;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1040px - 110px;

    &--submit {
      box-sizing: border-box;
      width: 700px;
    }
  }
}

.form-block__area {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-right: 115px;
  }
}

.form-block__title-wrapper {
  width: 260px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    width: 200px;
    height: 1px;
    background-color: $mint-elements;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    width: 216px - 50px;
    margin: 0;

    &::after {
      display: none;
    }

    &--radio {
      width: 220px - 50px;
      padding-top: 16px;
    }

    &--checkbox {
      padding-top: 17px;
    }

    &--name,
    &--contacts {
      padding-top: 18px;
    }

    &--adding {
      padding-top: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 115px;
  }
}

.form-block__title {
  width: fit-content;
  margin: 0;
  padding-right: 19px;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: $mint-light;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    background-color: transparent;
  }
}

.form-block__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--radio {
    padding-top: 31px;
    padding-bottom: 20px;
  }

  &--checkbox {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  &--name {
    padding-top: 29px;
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 0;

    &--radio {
      padding-bottom: 0;
    }

    &--checkbox {
      display: grid;
      grid-template-columns: 265px 215px;
      padding-bottom: 5px;
    }

    &--name {
      flex-grow: 1;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-top: 0;

    &--radio {
      padding-bottom: 0;
    }

    &--checkbox {
      grid-template-columns: 263px 263px 263px;
    }

    &--name {
      padding-right: 115px;
    }
  }
}

.form-block__item {
  &--radio {
    padding-bottom: 10px;
  }

  &--checkbox {
    padding-bottom: 23px;
  }

  &--name {
    padding-bottom: 22px;
  }

  &--contacts {
    padding-top: 4px;
    padding-bottom: 35px;
    position: relative;
  }

  &--adding {
    padding-top: 22px;
    padding-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    &--radio {
      padding-bottom: 24px;
    }

    &--checkbox {
      padding-bottom: 24px;
    }

    &--name {
      display: flex;
      padding-bottom: 25px;
    }

    &--contacts {
      padding-bottom: 20px;
    }

    &--contacts,
    &--adding {
      flex-grow: 1;
    }

    &--adding {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--adding {
      padding-right: 115px;
    }
  }
}

.form-block__label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: $black;

  &--radio {
    padding-top: 2px;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &--first-name {
    padding-right: 24px;
  }

  &--last-name {
    padding-right: 25px;
  }

  &--father-name {
    padding-right: 27px;
  }
}

.form-block__label-text {
  width: 200px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.form-block__control {
  box-sizing: border-box;
  display: block;
  position: relative;

  &--radio {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid $basic-grey;
    border-radius: 50%;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
    margin-right: 23px;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $tablet-width) {
    &--radio {
      width: 50px;
      height: 50px;
      margin-right: 27px;
    }

    &--checkbox {
      width: 52px;
      height: 52px;
      margin-right: 28px;
    }
  }
}

.form-block__input + .form-block__control--radio,
.form-block__input + .form-block__control--checkbox {
  &:hover {
    border-color: $mint-elements;
  }

  &:active {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form-block__input[type="radio"]:checked + .form-block__control--radio::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: $mint-elements;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.form-block__input[type="checkbox"]:checked + .form-block__control--checkbox::before {
  content: "";
  width: 23px;
  height: 16px;
  background-image: url("../img/icons/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 23px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 22px;
    background-size: 32px auto;
  }
}

.form-block__input {
  box-sizing: border-box;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: $basic-grey;

  &--name,
  &--contacts {
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $basic-grey;

    &::placeholder {
      color: $black;
      opacity: 0.3;
    }

    &:hover {
      border-color: $mint-elements;
    }

    &:hover + .form-block__icon {
      opacity: 1;
      fill: $mint-elements;
    }

    &:active {
      border-color: $mint-elements;
    }

    &:active + .form-block__icon {
      fill: $mint-elements;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &--first-name,
    &--email {
      padding-left: 18px;
    }

    &--last-name {
      padding-left: 16px;
    }

    &--father-name,
    &--phone {
      padding-left: 17px;
    }

    &--first-name,
    &--last-name {
      padding-top: 4px;
    }
  }

  &--adding {
    display: block;
    width: 100%;
    height: 142px;
    padding: 17px;
    border: 2px solid $basic-grey;
    resize: none;

    &::placeholder {
      font-family: "Open Sans", "Arial", sans-serif;
      color: $black;
      opacity: 0.3;
    }

    &:hover {
      border-color: $mint-elements;
    }

    &:active {
      border-color: $mint-elements;
    }

    @media (min-width: $desktop-width) {
      width: 501px - 4px -17px - 16px;
      padding-right: 16px;
    }
  }
}

.form-block__icon {
  position: absolute;
  opacity: 0.2;

  &--phone {
    top: 11px;
    right: 7px;
  }

  &--email {
    top: 16px;
    right: 3px;
  }

  @media (min-width: $tablet-width) {
    &--phone {
      right: 26px;
    }

    &--email {
      top: 16px;
      right: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      right: 8px;
    }

    &--email {
      right: 4px;
    }
  }
}

.form-block__submit-area {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding-bottom: 33px;
  }
}

.form-block__submit-note {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    font-size: 17px;
    line-height: 30px;
  }
}

.form-block__button-wrapper {
  @media (min-width: $tablet-width) {
    width: 230px;
    order: -1;
  }
}
