.menu {
  padding: 0;
  list-style-type: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    &--main,
    &--user {
      display: flex;
      flex-wrap: wrap;
    }

    &--main {
      background-color: transparent;
    }

    &--user {
      min-width: 347px;
      position: relative;

      &::before {
        content: "";
        background-color: $basic-grey-lines;
        width: 200vw;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: -70vw;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--main {
      background-color: $white;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
      }

      &::before {
        height: 100%;
        width: 150vw;
        left: -30vw;
        background-color: $white;
        top: 0;
      }

      &::after {
        width: 150vw;
        height: 1px;
        background-color: $basic-grey-lines;
        bottom: 0;
        left: -30vw;
        z-index: 1;
      }
    }

    &--activity {
      background-color: transparent;
    }
  }
}

.menu__item {
  min-height: 79px;
  position: relative;

  &::after {
    content: "";
    background-color: $basic-grey-lines;
    width: 100vw;
    height: 1px;
    position: absolute;
    left: 0;
    top: 79px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }

    &--user {
      &::before {
        content: "";
        width: 1px;
        height: 88px;
        background-color: $basic-grey-lines;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--main {
      &:nth-child(even) {
        padding-left: 35px;
        position: relative;

        &::before {
          content: "";
          width: 1px;
          height: 100%;
          background-color: $basic-grey-lines;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    &--activity {
      &:nth-child(even) {
        padding-left: 35px;
        position: relative;
      }
    }
  }
}

.menu__link {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 26.5px;
  padding-bottom: 28px;
  padding-left: 50px;
  width: 280px - 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $black;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .menu__icon {
    opacity: 1;
    fill: $mint-light;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    &--main {
      font-size: 15px;
      width: 167px;
      padding-top: 20.5px;
      padding-bottom: 20.5px;
      padding-left: 0;
    }

    &--search,
    &--cart {
      width: max-content;
      min-height: 88px - 32.5px - 31.5px;
    }

    &--search {
      padding: 0;
      min-width: 82px;
    }

    &--cart {
      padding-top: 32.5px;
      padding-bottom: 31.5px;
      padding-left: 82px;
    }
  }

  @media (min-width: $desktop-width) {
    &--main {
      width: 184px;
      font-size: 17px;
      padding-top: 32.5px;
      padding-bottom: 31.5px;
    }

    &--activity {
      font-size: 15px;
      width: 184px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0;
    }
  }
}

.menu__icon {
  position: absolute;
  opacity: 0.2;

  &--search {
    top: 30px;
    left: 2px;
  }

  &--cart {
    top: 28px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    &--search {
      top: 36px;
      left: 33px;
    }

    &--cart {
      top: 35px;
      left: 31px;
    }
  }
}

.menu__text-link--search {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
