.social {
  padding-right: 59px;
  padding-bottom: 28px;
  padding-left: 59px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.social__list {
  min-width: 142px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.social__link {
  display: inline-block;
  width: 29px;
  height: 22px;
  text-align: center;
  vertical-align: middle;

  &:hover .social__icon {
    fill: $mint-link;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon path {
  fill: $black-icons;
}
