.social {
  margin: 0 auto;
  padding-right: 59px;
  padding-bottom: 28px;
  padding-left: 59px;
  position: relative;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.social__list {
  min-width: 142px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.social__link {
  display: inline-block;
  width: 29px;
  height: 22px;
  text-align: center;
  vertical-align: middle;

  &:hover .social__icon {
    fill: $mint-link;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}

.social__icon path {
  fill: $black-icons;
}
