.week-product {
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      position: absolute;
      top: -24px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      top: -34px;
    }
  }
}

.week-product__section-title {
  margin: 0;
}

.week-product__product-title {
  margin: 0;
}
